/*************************************/
/********** Site Styles ***********/
/*************************************/

body {
  background-color: #ffffff;
  color: #2e333f;
  height: calc(100vh);
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.App {
  text-align: center;
  height: calc(100vh);
}

/* Header */
header {
  background-color: #d58dde;
  background-image: linear-gradient(to bottom right ,#7c25cc, #da42e0);
  color: #ffffff;
  padding: 2%;
  height: 85px;
}

header h2 {
  text-transform: uppercase;
}

header img {
  max-width: 30px;
  margin: 0 20px 5px;
}

/* About Page */
.about-container {
  padding: 8%;
  text-align: left;
  background-color: #fdf0ff;
  height: calc(100vh - 85px);
}

.about-content {
  padding: 8%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(60,60,60,0.2);
  background-color: #ffffff;
}

/* 404 Page */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(80vh);
}

.not-found-container img {
  max-width: 250px;
}